// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.well{
  float: left;
  width: 200px;
  height: 200px;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid #ccc;
  padding-bottom: 75px;
  margin-top: 200px;
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.glyphicon-remove{
  padding-top: 100px;
  padding-right: 50px;
}
